.App {
  background: rgb(30, 34, 49);
  padding-bottom: 2em;
}

.gradient {
  background: rgb(4, 0, 68);
  background: linear-gradient(
    90deg,
    rgba(4, 0, 68, 1) 0%,
    rgba(58, 15, 138, 1) 49%,
    rgba(63, 25, 105, 1) 100%
  );
}

.cards {
  text-align: left;
}

.footer {
  position: "relative";
  left: "0";
  bottom: "0";
  right: "0";
}
