.calendar {
  margin: 1em 0;
}

.calendar .picker {
  margin: 1em;
}

.calendar .calendar-button {
  padding-bottom: 1em;
}

.gradient {
  background: rgb(4, 0, 68);
  background: linear-gradient(
    90deg,
    rgba(4, 0, 68, 1) 0%,
    rgba(58, 15, 138, 1) 49%,
    rgba(63, 25, 105, 1) 100%
  );
}

.cards {
  text-align: left;
}

.cards h4 {
  margin-top: 1em;
}

.footer {
  position: "relative";
  left: "0";
  bottom: "0";
  right: "0";
  margin-top: 2em;
}

.spinner {
  height: 100vh;
}
